html {
    color: green;
    font-family: sans-serif;
    background: navy;
}

body {
    margin: 0;
}
.first{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
}


h1 {
    text-shadow: 10px 10px 0 rgb(100, 9, 100);
    font-size: 100px;
}